
html, body, #map {
    height: 100%;
    width: 100%;
}
#map {
    z-index: 5;
}
 
#mapHeader {
    position: absolute;
    height: auto;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    z-index: 7;
}
#nav {
    width: 100%;
    float: left;
    margin: o o 3em 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans';
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;    
    font-weight: bold;
    color: #696969;
}
#nav, li, a:hover {
    color: #1a2734;
    background-color: #b8dbf2;
}
/*
.leaflet-control-wind-position {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 5px;
  margin: 0 !important;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.wind-overlay {
  position: absolute;
  z-index: 1;
}
*/